VITE_AUTH_URL=http://localhost:5166/api/v1

VITE_PASSENGER_URL=http://localhost:3011/urbus/v1
VITE_LOCATION_SERVICE_URL=http://localhost:3033/urbus/v1
VITE_NOTIFICATION_URL=http://localhost:5000/urbus/v1
VITE_POST_URL=http://localhost:5001/urbus/v1